body{
    background-color: #111;
    padding: 100px;
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    
}
.circle-frame{
    /* border: 3px solid yellowgreen; */
    background-color: white;
    text-align: center;
    width: 120px;
    height:120px ;
    border-radius: 100%;
    margin: auto;
    padding: 20px;
    border: 30px solid orange;
    transition: 1s ease;
}
.circle-frame:hover{
    background-color:antiquewhite;
    padding: 40px;
    border-radius: 10px;
    rotate: 360deg;
}
लोकमत{
    color: red
}