*{
   background-color:indianred;

}
h1{
    color: forestgreen;
}
p{
color: green;
}
#title-h {
    color: gray;
    font-size:100px;
    background-color:lawngreen;
}
.body-text {
     padding: 20px;
     background-color: #333;
}
p.special-text{
       

}